/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

/* twoxtwo */

html, body {
  height: 100%;
  color: #707577;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.l-workspace {
  display: flex;
  align-items: stretch;
  height: 100%;
  background-color: #f5f5f5
}

.txt-graph {
  flex: 1;
  padding: 30px;
}

.txt-graph svg {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

.txt-graph__axis {
  stroke: rgba(98, 109, 95, 0.38);
  stroke-width: 2;
  stroke-linecap: round;
}

.txt-graph__axis-label-container {
  display: inline-block;
}

.txt-graph__axis-label {
  color: #abb1b3;
  text-transform: uppercase;
}

.txt-graph__y .txt-graph__axis-label {
  margin-left: -50%;
  text-align: center;
}

.txt-graph__axis-label {
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
}

.txt-graph__axis-label:focus {
  outline: none;
}

.txt-graph__placement {
  color: #707577;
}

.txt-graph__placement circle {
  stroke: #707577;
  fill: #707577;
}

.txt-cards {
  flex: 0 0 auto;
  min-width: 300px;
  padding: 20px;
  background-image: linear-gradient(156deg, #e9eae7, #c8c7c7);
}

.txt-cards__section {
  margin-bottom: 40px;
}

.txt-cards__section-header {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.txt-card {
  display: flex;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}

.txt-card:last-of-type {
  margin-bottom: 36px;
}

.txt-card.is-placed {
  color: #abb1b3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.txt-card__text {
  flex: 1;
}

.txt-card__delete {
  padding-top: 2px;
  color: transparent;
}

.txt-card:hover .txt-card__delete {
  color: rgba(0, 0, 0, 0.38);
}

.txt-card__form-input {
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.txt-card__form-text {
  width: 100%;
  background-color: white;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  color: #707577;
}

.txt-card__form-button {
  border: none;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: #dbdee0;
  font-size: 16px;
}

.txt-card__form-button.is-active {
  background-color: #3dc5a7;
}

.txt-graph__placing {
  position: absolute;
}

.txt-graph__placement-label-container {
  display: inline-block;
}

.txt-graph__placement-label {
  margin-left: -50%;
}
